.login {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	position: relative;
}
.login__form {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0 0 25px #000;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0 23px 0;
}
.login__formTitle {
	font-weight: 800;
	padding-bottom: 34px;
}
.login__formLabel {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 8px 0;
	font-weight: 600;
	font-size: 17px;
}
.login__formInput {
	padding: 8px;
	border-radius: 7px;
	border: 2px solid;
	font-size: 16px;
	font-weight: 500;
	margin-top: 7px;
	position: relative;
}
.login__formVisibilityInput {
	position: absolute;
	top: 0;
	right: 0;
}
.login__formButton {
	font-weight: bold;
	margin-top: auto;
	background-color: #3104ff;
	color: #f3fcdf;
	width: 80%;
	padding: 10px;
	border-radius: 7px;
	font-size: 17.5px;
}
.login__formButton:hover {
	background-color: #6b49ff;
	transition: background-color 0.4s;
}
.login__formButton:not(:hover) {
	transition: background-color 0.4s;
}
.login__formButton:active {
	background-color: #2907c1;
	transition: background-color 0.03s ease;
}
