.starrySky {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.starrySky::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 333px;
	height: 333px;
	background-color: mediumblue;
	filter: blur(330px);
	
}
/* .starrySky::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 333px;
	height: 333px;
	background-color: red;
} */
.starrySky canvas {
	display: block;
	max-width: 100%;
	max-height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
}
